<ion-card>
  <ion-card-header>
    <ion-card-title>Añadir un usuario</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form [formGroup]="formulario">
      <ion-grid>
        <ion-row>
          <ion-col
            ><ion-label for="name">Nombre</ion-label>
            <ion-input
              type="text"
              name="name"
              id="name"
              mode="md"
              fill="solid"
              aria-label="name"
              formControlName="name"
            ></ion-input
          ></ion-col>
          <ion-col>
            <ion-label for="email">Email</ion-label>
            <ion-input
              type="email"
              name="email"
              id="email"
              mode="md"
              fill="solid"
              aria-label="email"
              formControlName="email"
              [errorText]="
                formulario.get('email')?.hasError('email')
                  ? 'El email es inválido.'
                  : ''
              "
            ></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label for="password">Contraseña</ion-label>
            <ion-input
              type="password"
              name="password"
              id="password"
              mode="md"
              fill="solid"
              aria-label="password"
              formControlName="password"
            >
              <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            </ion-input>
          </ion-col>
          <ion-col>
            <ion-label for="password_confirmation"
              >Confirmar contraseña</ion-label
            >
            <ion-input
              type="password"
              name="password_confirmation"
              id="password_confirmation"
              mode="md"
              fill="solid"
              aria-label="password_confirmation"
              formControlName="password_confirmation"
              [errorText]="
                formulario.get('password_confirmation')?.hasError('notEqual')
                  ? 'Las contraseñas no coinciden.'
                  : ''
              "
            >
              <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            </ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label for="rol">Rol</ion-label>
            <ion-select
              aria-label="rol"
              interface="popover"
              mode="md"
              fill="solid"
              placeholder="Rol de usuario"
              formControlName="role"
            >
              <ion-select-option value="supervisor"
                >Supervisor</ion-select-option
              >
              <ion-select-option value="operator">Operador</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col>
            <ion-label for="pin">Pin</ion-label>
            <ion-input
              type="text"
              name="pin"
              id="pin"
              mode="md"
              fill="solid"
              aria-label="pin"
              formControlName="pin"
            ></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label for="image">Foto</ion-label>
            <br />
            <input
              type="file"
              id="image"
              formControlName="image"
              #fileUpload
              style="display: none"
              (change)="setImage($event)"
            />

            <ion-button (click)="openFileDialog()">
              <ion-icon slot="start" name="image"></ion-icon>
              Subir imagen
            </ion-button>
            @if (selectedFile) {
              <ion-label>{{ selectedFile.name }}</ion-label>
            }
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col
            ><ion-button
              type="submit"
              [disabled]="!formulario.valid"
              (click)="addUser()"
              >Crear usuario</ion-button
            >
            <ion-button type="reset">Cancelar</ion-button></ion-col
          >
        </ion-row>
      </ion-grid>
    </form>
  </ion-card-content>
</ion-card>
