<ion-card>
  <ion-card-header>
    <ion-card-title>Añadir un usuario</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form [formGroup]="formulario" (ngSubmit)="addUser()">
      <!--Nombre, email, contraseña, repetir contraseña, rol, foto, pin-->
      <ion-label for="name">Nombre</ion-label>
      <ion-input
        type="text"
        name="name"
        id="name"
        mode="md"
        fill="solid"
        aria-label="name"
        formControlName="name"
      ></ion-input>

      <ion-label for="email">Email</ion-label>
      <ion-input
        type="email"
        name="email"
        id="email"
        mode="md"
        fill="solid"
        aria-label="email"
        formControlName="email"
        [errorText]="
          formulario.get('email')?.hasError('email')
            ? 'El email es inválido.'
            : ''
        "
      ></ion-input>

      <ion-label for="password">Contraseña</ion-label>
      <ion-input
        type="password"
        name="password"
        id="password"
        mode="md"
        fill="solid"
        aria-label="password"
        formControlName="password"
      >
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>

      <ion-label for="confirmPassword">Confirmar contraseña</ion-label>
      <ion-input
        type="password"
        name="confirmPassword"
        id="confirmPassword"
        mode="md"
        fill="solid"
        aria-label="confirmPassword"
        formControlName="password_confirmation"
        [errorText]="
          formulario.get('password_confirmation')?.hasError('notEqual')
            ? 'Las contraseñas no coinciden.'
            : ''
        "
      >
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>

      <ion-label for="rol">Rol</ion-label>
      <ion-select
        aria-label="rol"
        interface="popover"
        mode="md"
        fill="solid"
        placeholder="Rol de usuario"
        formControlName="role"
      >
        <ion-select-option value="supervisor">Supervisor</ion-select-option>
        <ion-select-option value="operator">Operador</ion-select-option>
      </ion-select>

      <ion-label for="image">Foto</ion-label>
      <ion-input
        type="text"
        name="image"
        id="image"
        mode="md"
        fill="solid"
        aria-label="image"
        formControlName="image_src"
      ></ion-input>

      <ion-label for="pin">Pin</ion-label>
      <ion-input
        type="text"
        name="pin"
        id="pin"
        mode="md"
        fill="solid"
        aria-label="pin"
        formControlName="pin"
      ></ion-input>

      <ion-button type="submit" [disabled]="!formulario.valid"
        >Crear usuario</ion-button
      >
      <ion-button type="reset">Cancelar</ion-button>
    </form>
  </ion-card-content>
</ion-card>
