<ion-card>
  <ion-card-header>
    <ion-card-title>Listado de mesas</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row class="table-list__header-filters">
        <ion-col size="9">
          <ion-searchbar
            [(ngModel)]="nameFilter"
            placeholder="Buscar por nombre"
          ></ion-searchbar>
        </ion-col>
        <ion-col>
          <ion-select
            aria-label="zona"
            interface="popover"
            mode="md"
            fill="solid"
            placeholder="Selecciona una zona"
            [(ngModel)]="zoneFilter"
          >
            @for (zone of zones; track zone.id) {
              <ion-select-option [value]="zone.id">{{
                zone.name
              }}</ion-select-option>
            }
            <ion-select-option value="">Todas las zonas</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row class="table-list__header">
        <ion-col>Nombre</ion-col>
        <ion-col>Zona</ion-col>
        <ion-col>Acciones</ion-col>
      </ion-row>
      @for (table of tables | filterByZone:zoneFilter | filterBySearchBar:"name":nameFilter; track table.id) {
        <ion-row>
          <ion-col>{{ table.name }}</ion-col>
          <ion-col>{{ table.zone.name }}</ion-col>
          <ion-col>
            <!-- <ion-button
              (click)="abrirModalTable(table)"
              color="tertiary"
              size="small"
            >
              <ion-icon name="eye-outline"></ion-icon>
            </ion-button> -->
            <ion-button
              (click)="$event.stopPropagation(); abrirModalModificar(table)"
              color="secondary"
              size="small"
              ><ion-icon name="create-outline"></ion-icon
            ></ion-button>
            <ion-button
              (click)="showDeleteAlert(table.id, table.name)"
              color="danger"
              size="small"
              ><ion-icon name="trash-outline"></ion-icon
            ></ion-button>
          </ion-col>
        </ion-row>
      }
    </ion-grid>
  </ion-card-content>
</ion-card>
