.ion-list__header {
  text-align: center;
  font-size: larger;
  font-weight: bold;
  margin-top: 25px;
  background-color: var(--ion-color-primary);
  border-radius: 15px 15px 0 0;
}

ion-item:nth-child(even) {
  --background: rgba(var(--ion-color-primary-rgb), 0.25);
}

ion-item:nth-child(odd) {
  --background: rgba(var(--ion-color-primary-rgb), 0.15);
}