<ion-card>
  <ion-card-header>
    <ion-card-title>Listado de impuestos</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row class="table-list__header-filters">
        <ion-col>
          <ion-searchbar
            [(ngModel)]="nameFilter"
            placeholder="Buscar por nombre"
          ></ion-searchbar>
        </ion-col>
      </ion-row>

      <ion-row class="table-list__header">
        <ion-col>Nombre</ion-col>
        <ion-col>Porcentaje</ion-col>
        <ion-col>Acciones</ion-col>
      </ion-row>

      @for (tax of taxes | filterBySearchBar: "name" : nameFilter; track tax) {
        <ion-row>
          <ion-col>{{ tax.name }}</ion-col>
          <ion-col>{{ tax.percentage }}%</ion-col>
          <ion-col>
            <ion-button
              (click)="abrirModalTax(tax)"
              color="tertiary"
              size="small"
            >
              <ion-icon name="eye-outline"></ion-icon>
            </ion-button>
            <ion-button
              (click)="$event.stopPropagation(); abrirModalModificar(tax)"
              color="secondary"
              size="small"
              ><ion-icon name="create-outline"></ion-icon
            ></ion-button>
            <ion-button
              (click)="showDeleteAlert(tax.id, tax.name)"
              color="danger"
              size="small"
              ><ion-icon name="trash-outline"></ion-icon
            ></ion-button>
          </ion-col>
        </ion-row>
      }
    </ion-grid>
  </ion-card-content>
</ion-card>
