<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button type="button" (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
    <ion-title>Modificar usuario</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="formulario" (ngSubmit)="updateUser()">
    <ion-grid>
      <ion-row>
        <ion-col
          ><ion-label for="name">Nombre</ion-label>
          <ion-input
            type="text"
            name="name"
            id="name"
            mode="md"
            fill="solid"
            aria-label="name"
            formControlName="name"
            [placeholder]="user.name"
          ></ion-input
        ></ion-col>
        <ion-col>
          <ion-label for="email">Email</ion-label>
          <ion-input
            type="email"
            name="email"
            id="email"
            mode="md"
            fill="solid"
            aria-label="email"
            formControlName="email"
            [errorText]="
              formulario.get('email')?.hasError('email')
                ? 'El email es inválido.'
                : ''
            "
            [placeholder]="user.email"
          ></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label for="password">Contraseña</ion-label>
          <ion-input
            type="password"
            name="password"
            id="password"
            mode="md"
            fill="solid"
            aria-label="password"
            formControlName="password"
          >
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-col>
        <ion-col>
          <ion-label for="password_confirmation"
            >Confirmar contraseña</ion-label
          >
          <ion-input
            type="password"
            name="password_confirmation"
            id="password_confirmation"
            mode="md"
            fill="solid"
            aria-label="password_confirmation"
            formControlName="password_confirmation"
            [errorText]="
              formulario.get('password_confirmation')?.hasError('notEqual')
                ? 'Las contraseñas no coinciden.'
                : ''
            "
          >
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label for="rol">Rol</ion-label>
          <ion-select
            aria-label="rol"
            interface="popover"
            mode="md"
            fill="solid"
            placeholder="Rol de usuario"
            formControlName="role"
          >
            <ion-select-option value="supervisor" selected="user.role"
              >Supervisor</ion-select-option
            >
            <ion-select-option value="operator" selected="user.role"
              >Operador</ion-select-option
            >
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-label for="pin">Pin</ion-label>
          <ion-input
            type="text"
            name="pin"
            id="pin"
            mode="md"
            fill="solid"
            aria-label="pin"
            formControlName="pin"
            [placeholder]="user.pin"
          ></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-img
            [src]="user.imageSrc | imageFormatterPipe"
            [alt]="user.imageSrc"
          >
          </ion-img>
        </ion-col>
        <ion-col>
          <ion-label for="image">Foto</ion-label>
          <br />
          <input
            type="file"
            id="image"
            formControlName="image"
            #fileUpload
            style="display: none"
            (change)="setImage($event)"
            accept=".jpeg, .jpg, .png, .gif, .webp, .avif, .svg"
          />

          <ion-button (click)="openFileDialog()">
            <ion-icon slot="start" name="image"></ion-icon>
            Cambiar imagen
          </ion-button>
          @if (selectedFile) {
            <ion-label>{{ selectedFile.name }}</ion-label>
          }
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col
          ><ion-button type="submit">Actualizar usuario</ion-button>
          <ion-button type="button" (click)="closeModal()"
            >Cancelar</ion-button
          ></ion-col
        >
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
