<ion-card>
  <ion-card-header>
    <ion-card-title>Pedido mesa {{tableName}}</ion-card-title>
    <ion-card-subtitle>Número de comensales</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      @for (line of orderLines; track $index) {
        <ion-item>
          <ion-label>{{line.product_id | findProductName:products}}</ion-label>
          <ion-label>{{ line.quantity }}</ion-label>
          <ion-button (click)="removeLine($index)">Eliminar</ion-button>
        </ion-item>
      }
    </ion-list>
  </ion-card-content>
</ion-card>