<ion-card>
  <ion-card-header>
    <ion-card-title>Pedido mesa {{ table?.name }}</ion-card-title>
    <ion-card-subtitle>Número de comensales {{diners}} <ion-button size="small" (click)="modificarComensales()">Modificar</ion-button></ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      @for (line of orderLines; track $index) {
        <ion-item>
          <ion-label>{{
            line.product_id | findProductName: products
          }}</ion-label>
          <ion-label id="cantidad"
            ><ion-button size="small" (click)="changeQuantity(-1, $index)"
              >-</ion-button>
            {{ line.quantity }}
            <ion-button size="small" (click)="changeQuantity(1, $index)"
              >+</ion-button
          ></ion-label>
          <ion-label>{{
            orderLineManager.calcLinePrice(tableId, $index)
              | moneyFormatter
              | currency: "EUR"
          }}</ion-label>
          <ion-button (click)="removeLine($index)"><ion-icon name="trash-outline"></ion-icon></ion-button>
        </ion-item>
      }
    </ion-list>
    <br>
    <ion-item>
      <ion-label>Precio total:</ion-label>
      <ion-label>{{total | moneyFormatter | currency:'EUR'}}</ion-label>
    </ion-item>
    <div>
      <ion-button (click)="confirmOrder()" [disabled]="orderLines.length === 0">Confirmar pedido</ion-button>
      <ion-button (click)="closeOrder()" [disabled]="orderLines.length === 0">Cancelar pedido</ion-button>
      <ion-button (click)="imprimirTicket('provisional')" [disabled]="order === null">Ticket provisional</ion-button>
    </div>
    <div>
      <ion-button (click)="imprimirTicket('definitivo')" [disabled]="order === null">Cobrar pedido</ion-button>
    </div>
    
  </ion-card-content>
</ion-card>
