<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>Gestión del restaurante</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons>
      <ion-button [routerLink]="['/backoffice/users']">Usuarios</ion-button>
      <ion-button [routerLink]="['/backoffice/tables']">Mesas</ion-button>
      <ion-button [routerLink]="['/backoffice/zones']">Zonas</ion-button>
      <ion-button>Impuestos</ion-button>
      <ion-button>Productos</ion-button>
      <ion-button>Familias</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>