<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>Gestión del restaurante</ion-title>
    <ion-button (click)="redirectTpv()">TPV</ion-button>
  </ion-toolbar>
  <ion-toolbar >
    <ion-buttons class="nav">
      <ion-button [routerLink]="['/backoffice/users']"><ion-icon name="people-outline"></ion-icon>Usuarios</ion-button>
      <ion-button [routerLink]="['/backoffice/tables']"><ion-icon name="square-outline"></ion-icon>Mesas</ion-button>
      <ion-button [routerLink]="['/backoffice/zones']"><ion-icon name="map-outline"></ion-icon>Zonas</ion-button>
      <ion-button [routerLink]="['/backoffice/families']"><ion-icon name="grid-outline"></ion-icon>Familias</ion-button>
      <ion-button [routerLink]="['/backoffice/taxes']"><ion-icon name="pricetags-outline"></ion-icon>Impuestos</ion-button>
      <ion-button [routerLink]="['/backoffice/products']"><ion-icon name="fast-food-outline"></ion-icon>Productos</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>