ion-card-header {
  text-align: center;
}

ion-card-content {
  width: fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

ion-thumbnail {
  --size: 100px;
  --border-radius: 20px;

  img {
    border: 4px solid var(--ion-color-primary);
  }
}

.user_selector__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 4px solid var(--ion-color-primary);
  border-radius: 16px;
  margin: 5px;
  padding: 5px;
  background-color: rgba(var(--ion-color-primary-rgb), 0.15);
}