<ion-header class="modal-header">
  <ion-toolbar class="modal-header__toolbar">
    <ion-buttons slot="start">
      <ion-button type="button" (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
    <ion-title>{{ product.name }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="modal-content__body">
    <div>
      <ion-thumbnail>
        <ion-img
          [src]="imageService.formatImageSrc(product.image_src)"
          [alt]="product.name"
        >
        </ion-img>
      </ion-thumbnail>
    </div>
    <div class="modal-content__data">
      <p><span>Familia: </span>{{ product.family.name }}</p>
      <p>
        <span>Precio: </span>
        {{ calculatePriceWithDecimals(product.price) | currency: "EUR" }}
      </p>
      <p><span>Stock: </span>{{ product.stock }} unidades</p>
      <p><span>Estado: </span>{{ product.active | productStatus }}</p>
      <p>
        <span>Impuesto: </span>{{ product.tax.name }} ({{
          product.tax.percentage
        }}%)
      </p>
    </div>
  </div>
</ion-content>
