.table-list__header {
  text-align: center;
  font-size: larger;
  font-weight: bold;
  margin-top: 25px;
  ion-col {
    background-color: var(--ion-color-primary);
    border-radius: 15px 15px 0 0;
  }
}

ion-row:not(.table-list__header):not(.table-list__header-filters) {
  ion-col {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
  }
}

ion-row:nth-child(even):not(.table-list__header):not(
    .table-list__header-filters
  ) {
  background-color: rgba(var(--ion-color-primary-rgb), 0.25);
}

ion-row:nth-child(odd):not(.table-list__header):not(
    .table-list__header-filters
  ) {
  background-color: rgba(var(--ion-color-primary-rgb), 0.15);
}

.table-list__content-actions {
  text-align: center;
  ion-button {
    height: 25%;
  }
}

ion-thumbnail {
  --border-radius: 6px;
}