<ion-card>
  <ion-card-header>
    <ion-card-title>Añadir familia</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form [formGroup]="formulario">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label for="name">Nombre</ion-label>
            <ion-input
              type="text"
              name="name"
              id="name"
              mode="md"
              fill="solid"
              aria-label="name"
              formControlName="name"
            ></ion-input>
          </ion-col>
          <ion-col>
            <ion-toggle name="active" id="active" aria-label="active" formControlName="active" [enableOnOffLabels]="true" helperText="Las familias activas serán visibles en el TPV.">Activa</ion-toggle>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button type="submit" [disabled]="!formulario.valid" (click)="addFamily()">Crear familia</ion-button>
            <ion-button type="reset">Cancelar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card-content>
</ion-card>
