<ion-card>
  <ion-card-header>
    <ion-card-title>Listado de familias</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row class="table-list__header-filters">
        <ion-col size="9"
          ><ion-searchbar
            [(ngModel)]="nameFilter"
            placeholder="Buscar por nombre"
          ></ion-searchbar
        ></ion-col>
        <ion-col
          ><ion-select
            aria-label="active"
            interface="popover"
            mode="md"
            fill="solid"
            placeholder="Estado"
            [(ngModel)]="state"
          >
            <ion-select-option value="true">Activos</ion-select-option>
            <ion-select-option value="false">Inactivos</ion-select-option>
            <ion-select-option value="undefined"
              >Todos los estados</ion-select-option
            >
          </ion-select></ion-col
        >
      </ion-row>

      <ion-row class="table-list__header">
        <ion-col>Nombre</ion-col>
        <ion-col>Estado</ion-col>
        <ion-col>Acciones</ion-col>
      </ion-row>
      @for (
        family of families
          | filterBySearchBar: "name" : nameFilter
          | filterByState: state;
        track family.id
      ) {
        <ion-row>
          <ion-col>{{ family.name }}</ion-col>
          <ion-col
            ><ion-toggle
              name="active"
              id="active"
              aria-label="active"
              [enableOnOffLabels]="true"
              [checked]="family.active"
              (click)="$event.stopPropagation()"
              (ionChange)="changeActive($event, family)"
            ></ion-toggle
          ></ion-col>
          <ion-col class="table-list__content-actions">
            <ion-button
              (click)="abrirModalFamily(family)"
              color="tertiary"
              size="small"
            >
              <ion-icon name="eye-outline"></ion-icon>
            </ion-button>
            <ion-button
              (click)="$event.stopPropagation(); abrirModalModificar(family)"
              color="secondary"
              size="small"
              ><ion-icon name="create-outline"></ion-icon
            ></ion-button>
            <ion-button
              (click)="showDeleteAlert(family.id, family.name)"
              color="danger"
              size="small"
              ><ion-icon name="trash-outline"></ion-icon
            ></ion-button>
          </ion-col>
        </ion-row>
      }
    </ion-grid>
  </ion-card-content>
</ion-card>
