<ion-card>
  <ion-card-header>
    <ion-card-title>Listado de usuarios</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="9">
          <ion-searchbar
      (ionInput)="handleInput($event)"
      placeholder="Buscar por nombre"
    ></ion-searchbar>
        </ion-col>
        <ion-col>
<ion-label for="rol">Rol</ion-label>
    <ion-select
      aria-label="rol"
      interface="popover"
      mode="md"
      fill="solid"
      placeholder="Rol de usuario"
      (ionChange)="handleChange($event)"
    >
    <ion-select-option value="admin">Administrador</ion-select-option>
      <ion-select-option value="supervisor">Supervisor</ion-select-option>
      <ion-select-option value="operator">Operador</ion-select-option>
      <ion-select-option value="">Todos los roles</ion-select-option>
      
    </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    
    <ion-list>
      @for (user of results; track user) {
        <ion-item button (click)="abrirModalUsuario(user)">
          <ion-avatar aria-hidden="true" slot="start">
            <img
              alt="{{ user.name }}"
              [src]="user?.imageSrc | imageFormatterPipe"
            />
          </ion-avatar>
          <ion-label>{{ user.name }}</ion-label>
          <ion-label>{{ user.email }}</ion-label>
          <ion-label>{{ user.role | roleFormatter }}</ion-label>
          <ion-button
            (click)="
              $event.stopPropagation(); showDeleteAlert(user.id, user.name)
            "
            [disabled]="user.role === 'admin'"
            color="danger"
            >Eliminar</ion-button
          >
          <ion-button
            (click)="$event.stopPropagation(); abrirModalModificar(user)"
            color="secondary"
            >Modificar</ion-button
          >
        </ion-item>
      }
    </ion-list>
  </ion-card-content>
</ion-card>
