<ion-card>
  <ion-card-header>
    <ion-card-title>Listado de usuarios</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      @for (user of users; track user) {
        <ion-item>
        <ion-avatar aria-hidden="true" slot="start">
          <img
            alt="{{ user.name }}"
            [src]="user?.imageSrc | imageFormatterPipe"
          />
        </ion-avatar>
        <ion-label>{{ user.name }}</ion-label>
        <ion-label>{{ user.email }}</ion-label>
        <ion-label>{{ user.role }}</ion-label>
        <ion-button (click)="showDeleteAlert(user.id, user.name)" [disabled]="user.role === 'admin'" color="danger">Eliminar</ion-button>
        <ion-button [disabled]="user.role === 'admin'">Modificar</ion-button>
      </ion-item>
      }
    </ion-list>
  </ion-card-content>
</ion-card>
