<ion-card>
  <ion-card-header>
    <ion-card-title>Listado de usuarios</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      @for (user of users; track user) {
        <ion-item>
        <ion-avatar aria-hidden="true" slot="start">
          <img
            alt="{{ user.name }}"
            src="https://ionicframework.com/docs/img/demos/avatar.svg"
          />
        </ion-avatar>
        <ion-label>Huey</ion-label>
      </ion-item>
      }
    </ion-list>
  </ion-card-content>
</ion-card>
