.tpv-layout__container {
  display: flex;
  gap: 1.5rem;
  height: 100%;
}

.tpv-layout__products {
  flex: 3;
  border: 3px solid blue;

}

.tpv-layout__order-lines{
  flex: 1;
  min-width: 320px;
  border: 3px solid hotpink;
}