
:host {
  display: block;
  height: 100%;
  width: 100%;
}

.tpv-layout__container {
  display: flex;
  height: 100%;
  width: 100%;
}

.tpv-layout__products {
  flex: 3;
  height: 0;
    min-height: 100%;
}

.tpv-layout__order-lines {
  flex: 1;
  min-width: 320px;
  overflow: auto;
}

app-product-list {
  height: 100%;
}