<ion-card>
  @for (product of products; track product.id) {
    <ion-card (click)="addToOrder(product.id, product.price)">
      <ion-card-content>
        <ion-thumbnail aria-hidden="true">
          <img
            alt="{{ product.name }}"
            [src]="imageService.formatImageSrc(product.image_src)"
          />
        </ion-thumbnail>
        <ion-label> {{product.name}} </ion-label>
        <ion-label>{{ product.price | moneyFormatter | currency: "EUR"}}</ion-label>
      </ion-card-content>
    </ion-card>
  }
</ion-card>
