<ion-header>
  <ion-toolbar class="modal-header__toolbar">
    <ion-buttons slot="start">
      <ion-button type="button" (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
    <ion-title> {{ user.name }} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="modal-content__body">
    <div>
      <ion-thumbnail>
        <ion-img [src]="imageService.formatImageSrc(user.imageSrc)"> </ion-img>
      </ion-thumbnail>
      
    </div>
    <div class="modal-content__data">
      <h3>Email:</h3>
      <p>{{ user.email }}</p>
      <h3>Pin:</h3>
      <p>{{ user.pin }}</p>
      <h3>Rol:</h3>
      <p>{{ user.role | roleFormatter }}</p>
    </div>
  </div>
</ion-content>
