<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button type="button" (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
    <ion-title>Modificar mesa</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="formulario" (ngSubmit)="updateTable()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label for="name">Nombre</ion-label>
          <ion-input
            type="text"
            name="name"
            id="name"
            mode="md"
            fill="solid"
            aria-label="name"
            formControlName="name"
            [placeholder]="table.name"
          ></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label for="zone">Zona</ion-label>
          <ion-select
            aria-label="zone"
            id="zone"
            name="zone"
            formControlName="zone_id"
            interface="popover"
            mode="md"
            fill="solid"
          >
            @for (zone of zones; track zone.id) {
              <ion-select-option [value]="zone.id" selected="table.zone_id">{{
                zone.name
              }}</ion-select-option>
            }
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button type="submit">Actualizar mesa</ion-button>
          <ion-button type="button" (click)="closeModal()">Cancelar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
