<ion-card>
  <ion-card-header>
    <ion-card-title>Listado de zonas</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      @for (zone of zones; track zone) {
        <ion-item button (click)="abrirModalZona(zone)">
          <ion-label>{{ zone.name }}</ion-label>
          <ion-button
            (click)="
              $event.stopPropagation(); showDeleteAlert(zone.id, zone.name)
            "
            color="danger"
            >Eliminar</ion-button
          >
          <ion-button
            (click)="$event.stopPropagation(); abrirModalModificar(zone)"
            color="secondary"
            >Modificar</ion-button
          >
        </ion-item>
      }
    </ion-list>
  </ion-card-content>
</ion-card>