<ion-card>
  <ion-card-header>
    <ion-card-title>Listado de zonas</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row class="table-list__header-filters">
        <ion-col>
          <ion-searchbar
            [(ngModel)]="nameFilter"
            placeholder="Buscar por nombre"
          ></ion-searchbar>
        </ion-col>
      </ion-row>
      <ion-row class="table-list__header">
        <ion-col>Nombre</ion-col>
        <ion-col>Cantidad de mesas</ion-col>
        <ion-col>Acciones</ion-col>
      </ion-row>
      @for (
        zone of zones | filterBySearchBar: "name" : nameFilter;
        track zone.id
      ) {
        <ion-row>
          <ion-col>{{ zone.name }}</ion-col>
          <ion-col>{{ countTables(zone.id) }}</ion-col>
          <ion-col class="table-list__content-actions">
            <ion-button
              (click)="abrirModalZona(zone)"
              color="tertiary"
              size="small"
            >
              <ion-icon name="eye-outline"></ion-icon>
            </ion-button>
            <ion-button
              (click)="$event.stopPropagation(); abrirModalModificar(zone)"
              color="secondary"
              size="small"
              ><ion-icon name="create-outline"></ion-icon
            ></ion-button>
            <ion-button
              (click)="showDeleteAlert(zone.id, zone.name)"
              color="danger"
              size="small"
              ><ion-icon name="trash-outline"></ion-icon
            ></ion-button>
          </ion-col>
        </ion-row>
      }
    </ion-grid>
  </ion-card-content>
</ion-card>
